.mediaViewInfo {
	--web-view-name: Items;
	--web-view-id: Items;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
:root {
	--web-view-ids: Items;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Items {
	position: absolute;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	cursor: pointer;
	--web-view-name: Items;
	--web-view-id: Items;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
#Rectangle_35 {
	opacity: 0.7;
	fill: rgba(109,109,109,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_35 {
	position: absolute;
	overflow: visible;
	width: 1927px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#Rectangle_36 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_36 {
	position: absolute;
	overflow: visible;
	width: 1598px;
	height: 1065px;
	left: 161px;
	top: 15px;
}
#Item_Customization {
	left: 633px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 656px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 108px;
	color: rgba(0,0,0,1);
}
#Line_16 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_16 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1840px;
	left: 1383.5px;
	top: 174.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_28__1 {
	position: absolute;
	width: 1497px;
	height: 918px;
	left: 228px;
	top: 159px;
	overflow: visible;
}
#Group_12 {
	position: absolute;
	width: 1055px;
	height: 154px;
	left: 0px;
	top: 275px;
	overflow: visible;
}
#Ingredient_2 {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Rectangle_37 {
	fill: rgba(255,0,0,1);
}
.Rectangle_37 {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 0px;
	top: 86px;
}
#Rectangle_38 {
	fill: rgba(0,34,255,1);
}
.Rectangle_38 {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 154px;
	top: 86px;
}
#Rectangle_39 {
	fill: rgba(255,255,0,1);
}
.Rectangle_39 {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 368px;
	top: 86px;
}
#Rectangle_40 {
	fill: rgba(41,255,0,1);
}
.Rectangle_40 {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 470px;
	top: 86px;
}
#ID5g_protein {
	left: 21px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#ID20g_carb {
	left: 196px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#ID120_calories {
	left: 641px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#ID2g_fat {
	left: 398px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Rectangle_41 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_41 {
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 60px;
	left: 981px;
	top: 0px;
}
#Group_13 {
	position: absolute;
	width: 1055px;
	height: 154px;
	left: 0px;
	top: 495px;
	overflow: visible;
}
#Ingredient_3 {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 223px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Rectangle_37_bk {
	fill: rgba(255,0,0,1);
}
.Rectangle_37_bk {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 0px;
	top: 86px;
}
#Rectangle_38_bl {
	fill: rgba(0,34,255,1);
}
.Rectangle_38_bl {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 154px;
	top: 86px;
}
#Rectangle_39_bm {
	fill: rgba(255,255,0,1);
}
.Rectangle_39_bm {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 368px;
	top: 86px;
}
#Rectangle_40_bn {
	fill: rgba(41,255,0,1);
}
.Rectangle_40_bn {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 470px;
	top: 86px;
}
#ID5g_protein_bo {
	left: 21px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#ID20g_carb_bp {
	left: 196px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#ID120_calories_bq {
	left: 641px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#ID2g_fat_br {
	left: 398px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Rectangle_41_bs {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_41_bs {
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 60px;
	left: 981px;
	top: 0px;
}
#Group_14 {
	position: absolute;
	width: 1055px;
	height: 154px;
	left: 0px;
	top: 715px;
	overflow: visible;
}
#Ingredient_4 {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Rectangle_37_bv {
	fill: rgba(255,0,0,1);
}
.Rectangle_37_bv {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 0px;
	top: 86px;
}
#Rectangle_38_bw {
	fill: rgba(0,34,255,1);
}
.Rectangle_38_bw {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 154px;
	top: 86px;
}
#Rectangle_39_bx {
	fill: rgba(255,255,0,1);
}
.Rectangle_39_bx {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 368px;
	top: 86px;
}
#Rectangle_40_by {
	fill: rgba(41,255,0,1);
}
.Rectangle_40_by {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 470px;
	top: 86px;
}
#ID5g_protein_bz {
	left: 21px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#ID20g_carb_b {
	left: 196px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#ID120_calories_b {
	left: 641px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#ID2g_fat_b {
	left: 398px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Rectangle_41_b {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_41_b {
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 60px;
	left: 981px;
	top: 0px;
}
#Group_11 {
	position: absolute;
	width: 1055px;
	height: 154px;
	left: 0px;
	top: 55px;
	overflow: visible;
}
#Ingredient_1 {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 216px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Rectangle_37_b {
	fill: rgba(255,0,0,1);
}
.Rectangle_37_b {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 0px;
	top: 86px;
}
#Rectangle_38_b {
	fill: rgba(0,34,255,1);
}
.Rectangle_38_b {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 154px;
	top: 86px;
}
#Rectangle_39_b {
	fill: rgba(255,255,0,1);
}
.Rectangle_39_b {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 368px;
	top: 86px;
}
#Rectangle_40_b {
	fill: rgba(41,255,0,1);
}
.Rectangle_40_b {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 32px;
	left: 470px;
	top: 86px;
}
#ID5g_protein_ca {
	left: 21px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#ID20g_carb_cb {
	left: 196px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#ID120_calories_cc {
	left: 641px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#ID2g_fat_cd {
	left: 398px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Rectangle_41_ce {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_41_ce {
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 60px;
	left: 981px;
	top: 0px;
}
#Image_11 {
	position: absolute;
	width: 69px;
	height: 59px;
	left: 708px;
	top: 859px;
	overflow: visible;
}
#Sub-total_800 {
	left: 1199px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 294px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Item_1 {
	left: 1199px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Total_macros__Protein_20g__Car {
	left: 1199px;
	top: 126px;
	position: absolute;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#Rectangle_42 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_42 {
	position: absolute;
	overflow: visible;
	width: 302px;
	height: 102px;
	left: 1195px;
	top: 518px;
}
#Add_to_Cart {
	left: 1236px;
	top: 539px;
	position: absolute;
	overflow: visible;
	width: 221px;
	white-space: nowrap;
	text-align: left;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#ID125 {
	left: 241px;
	top: 734px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(0,0,0,1);
}
#ID125_cm {
	left: 241px;
	top: 518px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(0,0,0,1);
}