.mediaViewInfo {
	--web-view-name: red2;
	--web-view-id: red2;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: red2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#red2 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: red2;
	--web-view-id: red2;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_47 {
	fill: rgba(253,29,29,0.412);
}
.Rectangle_47 {
	position: absolute;
	overflow: visible;
	width: 188px;
	height: 162px;
	left: 0px;
	top: 315px;
}
#Ellipse_1 {
	fill: rgba(7,233,7,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 155px;
	left: 15px;
	top: 135px;
}
#Ellipse_2 {
	fill: rgba(253,29,29,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 155px;
	left: 15px;
	top: 318px;
}
#Ellipse_3 {
	fill: rgba(255,223,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 155px;
	left: 15px;
	top: 507px;
}
#Ellipse_4 {
	fill: rgba(239,0,248,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: purple2.html;
	cursor: pointer;
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 155px;
	left: 15px;
	top: 694px;
}
#Ellipse_5 {
	fill: rgba(43,0,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 155px;
	left: 14px;
	top: 882px;
}
#epic-summer-salad-000aded {
	position: absolute;
	width: 143.264px;
	height: 130.667px;
	left: 20.12px;
	top: 148.559px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: green2.html;
	cursor: pointer;
}
#Image_1 {
	position: absolute;
	width: 143px;
	height: 142px;
	left: 21px;
	top: 326px;
	overflow: visible;
}
#Image_2 {
	position: absolute;
	width: 143px;
	height: 143px;
	left: 21px;
	top: 512px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: yellow2.html;
	cursor: pointer;
}
#ID7c1096c7-bfd0-4806-a794-1d30 {
	position: absolute;
	width: 141px;
	height: 80px;
	left: 22px;
	top: 729px;
	overflow: visible;
}
#__opt__aboutcom__coeus__resour {
	position: absolute;
	width: 129.091px;
	height: 129.091px;
	left: 27.048px;
	top: 894.913px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: blue2.html;
	cursor: pointer;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1080px;
	left: 187.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_9 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 122px;
	height: 78px;
	left: 30px;
	top: 25px;
}
#Image_8 {
	position: absolute;
	width: 63px;
	height: 55px;
	left: 60px;
	top: 37px;
	overflow: visible;
	cursor: pointer;
	--web-animation: fadein 0.3s ease-in;
	--web-action-type: page;
	--web-action-target: warning.html;
}
#Line_2 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1080px;
	left: 1603.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_10__2 {
	position: absolute;
	width: 1237px;
	height: 277px;
	left: 230px;
	top: 364px;
	overflow: visible;
}
#Rectangle_53 {
	opacity: 0;
	fill: rgba(201,201,201,1);
}
.Rectangle_53 {
	position: absolute;
	overflow: visible;
	width: 1237px;
	height: 260px;
	left: 0px;
	top: 0px;
}
#Beef_Stew {
	left: 9px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 325px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 66px;
	color: rgba(112,112,112,1);
}
#ID5 {
	left: 781px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 66px;
	color: rgba(112,112,112,1);
}
#The_deep_flavors_in_our_beef_s {
	left: 9px;
	top: 125px;
	position: absolute;
	overflow: visible;
	width: 852px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(112,112,112,1);
}
#landscape-1520973187-vegetaria {
	position: absolute;
	width: 306px;
	height: 199px;
	left: 906px;
	top: 12px;
	overflow: visible;
}
#Component_11__2 {
	position: absolute;
	width: 1237px;
	height: 245px;
	left: 224px;
	top: 676px;
	overflow: visible;
}
#Rectangle_52 {
	opacity: 0;
	fill: rgba(209,209,209,1);
}
.Rectangle_52 {
	position: absolute;
	overflow: visible;
	width: 1237px;
	height: 219px;
	left: 0px;
	top: 0px;
}
#Meatloaf {
	left: 15px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 266px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 66px;
	color: rgba(112,112,112,1);
}
#ID10 {
	left: 771px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 66px;
	color: rgba(112,112,112,1);
}
#We_opted_for_an_all-beef_meatl {
	left: 15px;
	top: 119px;
	position: absolute;
	overflow: visible;
	width: 872px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(112,112,112,1);
}
#Image_9 {
	position: absolute;
	width: 304px;
	height: 202px;
	left: 915px;
	top: 12px;
	overflow: visible;
}
#Image_10 {
	position: absolute;
	width: 470px;
	height: 35px;
	left: 224px;
	top: 297px;
	overflow: visible;
}
#Image_10_bu {
	position: absolute;
	width: 470px;
	height: 35px;
	left: 224px;
	top: 633px;
	overflow: visible;
}
#Image_10_bv {
	position: absolute;
	width: 470px;
	height: 35px;
	left: 219px;
	top: 893px;
	overflow: visible;
}
#Rectangle_10 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 122px;
	height: 78px;
	left: 758px;
	top: 960px;
}
#Image_11 {
	position: absolute;
	width: 69px;
	height: 59px;
	left: 785px;
	top: 970px;
	overflow: visible;
}
#Component_9__3 {
	position: absolute;
	width: 1222px;
	height: 245px;
	left: 239px;
	top: 60px;
	overflow: visible;
}
#Rectangle_51 {
	opacity: 0;
	fill: rgba(172,169,169,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_51 {
	position: absolute;
	overflow: visible;
	width: 1222px;
	height: 219px;
	left: 0px;
	top: 0px;
}
#Group_26 {
	position: absolute;
	width: 1204px;
	height: 245px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ID1499895456-greek-salad-delis {
	position: absolute;
	width: 306px;
	height: 203.5px;
	left: 898px;
	top: 0px;
	overflow: visible;
}
#Christmas_Steak {
	left: 0px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 515px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 66px;
	color: rgba(112,112,112,1);
}
#ID23 {
	left: 756px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 66px;
	color: rgba(112,112,112,1);
}
#This_restaurant-style_steak_is {
	left: 0px;
	top: 123px;
	position: absolute;
	overflow: visible;
	width: 866px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(112,112,112,1);
}
#ID1572274395316 {
	position: absolute;
	width: 306px;
	height: 204px;
	left: 898px;
	top: 0px;
	overflow: visible;
}
#Cart {
	left: 1627px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 66px;
	color: rgba(0,0,0,1);
}
#ID1170 {
	left: 1783px;
	top: 726px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(0,0,0,1);
}
#Meal_Tax_Total {
	left: 1628px;
	top: 567px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(0,0,0,1);
}
#ID1050 {
	left: 1783px;
	top: 583px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 46px;
	color: rgba(0,0,0,1);
}
#ID120 {
	left: 1783px;
	top: 651px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 46px;
	color: rgba(0,0,0,1);
}
#Group_27 {
	position: absolute;
	width: 240px;
	height: 74px;
	left: 1643px;
	top: 798px;
	overflow: visible;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: checkout1.html;
	cursor: pointer;
}
#Component_44__1 {
	position: absolute;
	width: 240px;
	height: 74px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_67 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_67 {
	position: absolute;
	overflow: visible;
	width: 240px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Check-out {
	left: 40px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#ID1x_-_Veg_Chili_Additions_Ing {
	left: 1627px;
	top: 140px;
	position: absolute;
	overflow: visible;
	width: 278px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(0,0,0,1);
}
#ID1562853899529 {
	position: absolute;
	width: 314px;
	height: 201.5px;
	left: 1131px;
	top: 376px;
	overflow: visible;
}
#ID1562853904377 {
	position: absolute;
	width: 322px;
	height: 241.5px;
	left: 1139px;
	top: 662px;
	overflow: visible;
}

#backoverlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

#warning {
	position: absolute;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	cursor: pointer;
	--web-view-name: warning;
	--web-view-id: warning;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
#Rectangle_79 {
	opacity: 0.6;
	fill: rgba(170,169,169,1);
}
.Rectangle_79 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#Rectangle_80 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_80 {
	position: absolute;
	overflow: visible;
	width: 944px;
	height: 584px;
	left: 488px;
	top: 248px;
}
#HOLD_UP {
	left: 823px;
	top: 312px;
	position: absolute;
	overflow: visible;
	width: 314px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 66px;
	color: rgba(0,0,0,1);
}
#If_you_go_back_your_cart_will_ {
	left: 491px;
	top: 452px;
	position: absolute;
	overflow: visible;
	width: 939px;
	white-space: nowrap;
	text-align: center;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 66px;
	color: rgba(0,0,0,1);
}
#Component_51__1 {
	position: absolute;
	width: 194px;
	height: 83px;
	left: 653px;
	top: 676px;
	overflow: visible;
}
#Rectangle_81 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_81 {
	position: absolute;
	overflow: visible;
	width: 194px;
	height: 83px;
	left: 0px;
	top: 0px;
}
#exit_ {
	left: 59px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: center;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(0,0,0,1);
}
#Component_52__1 {
	position: absolute;
	width: 194px;
	height: 83px;
	left: 1072px;
	top: 676px;
	overflow: visible;
}
#Rectangle_82 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_82 {
	position: absolute;
	overflow: visible;
	width: 194px;
	height: 83px;
	left: 0px;
	top: 0px;
}
#stay {
	left: 61px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: center;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(0,0,0,1);
}