.mediaViewInfo {
	--web-view-name: suggestions;
	--web-view-id: suggestions;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
:root {
	--web-view-ids: suggestions;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#suggestions {
	position: absolute;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	cursor: pointer;
	--web-view-name: suggestions;
	--web-view-id: suggestions;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_25 {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#Rectangle_24 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 1266px;
	height: 939px;
	left: 327px;
	top: 94px;
}
#Rectangle_23 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_23 {
	filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1144px;
	height: 802px;
	left: 388px;
	top: 222px;
}
#Rectangle_18 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_18 {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1108px;
	height: 240px;
	left: 416px;
	top: 244px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: green1.html;
	cursor: pointer;
}
#Here_are_our_choices_for_you {
	left: 562px;
	top: 115px;
	position: absolute;
	overflow: visible;
	width: 806px;
	white-space: nowrap;
	text-align: center;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 95px;
	color: rgba(0,0,0,1);
}
#Rectangle_17 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 289px;
	height: 152px;
	left: 450px;
	top: 277px;
}
#Place_1 {
	left: 806px;
	top: 306px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: center;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 94px;
	color: rgba(0,0,0,1);
}
#Calories_370aprox_-_Fat_15g__P {
	left: 1078px;
	top: 318px;
	position: absolute;
	overflow: visible;
	width: 397px;
	white-space: nowrap;
	text-align: center;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#Rectangle_19 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_19 {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1109px;
	height: 241px;
	left: 406px;
	top: 484px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: green1.html;
	cursor: pointer;
}
#Rectangle_20 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 288px;
	height: 152px;
	left: 441px;
	top: 517px;
}
#Place_2 {
	left: 793px;
	top: 546px;
	position: absolute;
	overflow: visible;
	width: 195px;
	white-space: nowrap;
	text-align: center;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 93px;
	color: rgba(0,0,0,1);
}
#Calories_370aprox_-_Fat_15g__P_bd {
	left: 1068px;
	top: 559px;
	position: absolute;
	overflow: visible;
	width: 397px;
	white-space: nowrap;
	text-align: center;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#Rectangle_21 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_21 {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1109px;
	height: 240px;
	left: 406px;
	top: 737px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: input.html;
	cursor: pointer;
}
#Rectangle_22 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 288px;
	height: 151px;
	left: 441px;
	top: 770px;
}
#Place_3 {
	left: 793px;
	top: 799px;
	position: absolute;
	overflow: visible;
	width: 195px;
	white-space: nowrap;
	text-align: center;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 93px;
	color: rgba(0,0,0,1);
}
#Calories_370aprox_-_Fat_15g__P_bh {
	left: 1068px;
	top: 815px;
	position: absolute;
	overflow: visible;
	width: 397px;
	white-space: nowrap;
	text-align: center;
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}